/* Index */

body{
    margin: 0px; 
    background: black;
}


main{
    margin-left:20px;
    margin-right:20px;
}
h1{
    text-align: center;
    font-family: Sans-serif;
    font-size:350%;
    margin-bottom:3px;
    padding-bottom: 10px;
    border-bottom:3px solid grey;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    padding:0px;
    margin: 0px;
    overflow:hidden;    
    margin-bottom:2px;
    border-bottom:3px solid grey;
}
.navbar a{
    font-size:120%;
    font-family: Sans-serif;
    color:white ;
    text-decoration: none;
    padding:15px;
    display: block;
    text-align: center;
}
.ticket-button a{
    color: rgb(56, 56, 56);
    border-radius:25px;
}
.navbar a:hover{
    background-color: rgb(56, 56, 56);
    color:white;
    border-radius:25px;
}
.navbar li{
    float:left;
}
.ticket-button{
    border-radius: 25px;
    background: white;
    color:black;
    
}

img{
    width:100%;
}
article{
    width: auto;
    margin: 0 auto;
    
}

.container {
    position: relative;
    text-align: center;
    color: black;
  }

.begin {
    font-family: Sans-serif;
    font-size:30px;
    position: absolute;
    top: 250px;
    left: 20px;
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
    
  }

  .text1{
    font-family: Sans-serif;
    font-size:20px;
    position: absolute;
    top: 327px;
    left: 20px;
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
  }
.tentoonstelling2{
    width: 300px;
    margin-left:auto;
}
.tentoonstelling3{
    width: 500px;
    margin-left:auto;

}
.tentoonstelling4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.tentoonstelling5{
    position: relative;
    text-align: center;
    color: black;
}

.tentoonstelling5tekst{
    font-family: Sans-serif;
    font-size:30px;
    top: 250px;
    left: 20px;
    background-color: rgba(255,255,255, 0.7);
    padding: 10px;
    
}

/* Index eind*/

/* Tickets Begin */
.TicketTitle{
    text-align:center;
    font-family: Sans-serif;
    font-size:350%;
    margin-bottom:3px;
    padding-bottom: 10px;
    color: white;

}

.maincontent
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.MainText{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 250px 0px 10px 10px;
}


.TicketsInfo{
    
    border-style: solid;
    margin: 50px 20px 20px 20px;
    width: 350px;
    min-width: 150px;
    min-height: 50px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    font-size: 40px;
    text-align: right;
    color: white;
    text-align: center;
}
.TicketsInfo2{
    text-align: center;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 40px;

}
.ticket-info-li{
    margin: 10px;
    padding: 0px;
}

/* Tickets eind */
/* Openingstijden begin */
/* Openingstijden eind */
/* Contact begin */
/* Contact Eind */
/* Engels begin */
/* Engels eind */
/* Geschiedenis begin */
/* Geschiedenis eind */
/* Highlights begin */
/* Highlights eind */
/* Review begin */
/* Review eind */